<body>
    <mat-tab-group>
      <mat-tab label=" Metodo de Pago">
        <div>
          <h2 class="example-h2">Elija el metodo de pago de su preferencia</h2>
          <mat-radio-group aria-label=" Tipo de empleado">
            <mat-radio-button (click)='esEfectivo()'value="efectivo" [checked]=true>Efectivo  </mat-radio-button>
            <mat-radio-button  (click)='esCheque()' value="cheque">Cheque  </mat-radio-button>
            <mat-radio-button (click)='esTransfBancaria()' value="transferenciaBancaria">Transferencia Bancaria </mat-radio-button>
          </mat-radio-group>
        </div>
        
        <div  *ngIf= "tipoDePago==='efectivo'"class="input-full-width">
            <h3> Usted ya puede retirar su sueldo en efectivo desde caja</h3>
        </div>
        <div  *ngIf= "tipoDePago==='cheque'"class="input-full-width">
            <h3> Se le realizara un cheque con sus datos personales para el retiro de su sueldo, este puede ser retirado en caja</h3>
        </div>
        <mat-form-field *ngIf= "tipoDePago==='transferenciaBancaria'" class="input-full-width"> 
          <input class="input-full-width" matInput placeholder="Numero de cuenta" type="number"  [(ngModel)]="metodoDePago.numeroDeCuenta" name="numeroDeCuenta" required> 
        </mat-form-field>
        <mat-form-field *ngIf= "tipoDePago==='transferenciaBancaria'" class="input-full-width"> 
        <input class="input-full-width" matInput placeholder="Nombre del Banco"  [(ngModel)]="metodoDePago.nombreDelBanco" name="nombreDelBanco" required>
      </mat-form-field>  
      
      </mat-tab>
      <mat-tab label=" Notificaciones">
        <div>
                <h2 class="example-h2">Elija el metodo de notificacion que desea recibir </h2><h4>(puede elegir mas de 2)</h4>
               
                <section class="example-section">
                  <mat-checkbox class="example-margin" [(ngModel)]="emailChecked">Email</mat-checkbox>
                  <mat-checkbox class="example-margin" [(ngModel)]="facebookChecked">Facebook</mat-checkbox>
                  <mat-checkbox class="example-margin" [(ngModel)]="whatsappChecked">WhatsApp</mat-checkbox>
                  <mat-checkbox class="example-margin" [(ngModel)]="smsChecked">SMS</mat-checkbox>
    
                </section>
        </div>  
      <mat-form-field  *ngIf= "emailChecked" class="input-full-width"> 
        <input class="input-full-width" matInput placeholder="Correo Electronico" [(ngModel)]="notificacion.correoElectronico" name="correoElectronico"  >
      </mat-form-field> 
      <mat-form-field  *ngIf= "facebookChecked" class="input-full-width"> 
         <img src="https://image.flaticon.com/icons/svg/124/124010.svg" class='icon'>
         <input type="number" class="input-full-width" matInput  >    
         <h2>Work in progress</h2>
      </mat-form-field>
      <mat-form-field  *ngIf= "whatsappChecked" class="input-full-width"> 
         <img src="https://image.flaticon.com/icons/svg/134/134937.svg" class='icon'> 
         <input type="number" class="input-full-width" matInput placeholder="Numero de Telefono" [(ngModel)]="notificacion.numeroDeTelefono" name="numeroDeTelefono"  >
      </mat-form-field>
      <mat-form-field  *ngIf= "smsChecked" class="input-full-width"> 
         <img src="https://image.flaticon.com/icons/svg/77/77094.svg" class='icon'> 
         <input type="number" class="input-full-width" matInput placeholder="Numero de Telefono" [(ngModel)]="notificacion.numeroDeTelefono" name="numeroDeTelefono"  >
      </mat-form-field>   
       
        </mat-tab>
    </mat-tab-group>
    
    </body>