<div class='bod'>
  
<h1 class="menuprincipal">Menu Principal</h1>
<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
        <a href='nuevo-empleado'>
            <button mat-raised-button class="crear-Empleado" type="submit">Crear Empleado</button>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href='listar-empleados'>
        <button mat-raised-button class="crear-Empleado" type="submit">Ver Empleados</button>
    </a></mat-grid-tile>
    <mat-grid-tile>
      <a href='generar-boletas'>
          <button mat-raised-button class="crear-Empleado" type="submit">Generar Boletas</button>
      </a>
    </mat-grid-tile>
  </mat-grid-list>

</div>
