#body{
    background: rgb(102,179,197);
}
.form-box {
    min-width: 50%;
    max-width: 80%;
    width: 100%;
    height: 100%;
    margin: 4em;
    background: rgb(222,235,229);
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .input-full-width {
    width: 100%;
  }
 .crear-Empleado{
     position: relative;
     margin-left: 60em;
     background: rgb(75,144,234);
     color:white;
 }
 
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.form-box {
  min-width: 50%;
  max-width: 80%;
  width: 100%;
  height: 100%;
  margin: 4em;
  background: rgb(222,235,229);
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.input-full-width {
  width: 100%;
}
.guardar{
  position: relative;
  margin-left: 3em;
  background: rgb(75,144,234);
  color:white;
  left: 70%;
}
.icon {
  width: 5%;
  height: 5%;
  position: relative; 
  padding-top: 1.5em;
}
